<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>

    {% include('common/favicon.html.twig') %}
    <title>Boi Racer</title>

    <link rel='stylesheet' href='/global.css'>
    <link rel='stylesheet' href='/app.css'>

    <script defer src='/app.js'></script>
</head>

<body>
</body>
</html>
